{% extends "bank/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="bg-light pattern-overlay-7 pb-0 pb-xl-8 h-lg-700 h-xl-800 d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-7 col-xl-6">
				<div class="h-100 mt-5 position-relative z-index-9">
					<h2 class="text-primary">You have been logged out</h2>
					<div class="mb-5">
						<a href="{% url 'login' %}" > <strong>Log In Again</strong> </a>

					</div>

				</div>
			</div>

		</div>


	</div>
</section>
{% endblock content %}
