{% extends "bank/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<main>
<!-- =======================
Main Banner START -->
<section class="bg-light pattern-overlay-7 pb-0 pb-xl-8 h-lg-700 h-xl-800 d-flex align-items-center">
	<!-- shape 1 -->
	<figure class="position-absolute start-0 top-0 ms-n5 mt-n4 d-none d-xxxl-block">

	</figure>
	<!-- Shape 2 -->
	<figure class="position-absolute end-0 top-0 me-n8 mt-n5 d-none d-md-block">
		<svg width="390" height="304" viewBox="0 0 218 170" xmlns="http://www.w3.org/2000/svg">
			<path class="fill-primary" d="m143.6 25.1c-5.9-5.6-10.9-12.2-17.8-16.5-13.7-8.6-33.5-5.4-43.8 7-3.9 4.6-6.4 10.2-9.5 15.4-8.4 14-21.1 25-29.9 38.7s-13 32.7-3.4 45.9c9.7 13.4 28.8 15.4 41.7 25.6 6.3 5.1 10.9 12.1 16.9 17.6 19 17.3 52.5 14.6 68.6-5.4 9.9-12.4 13.4-29.3 24.8-40.4 4-3.9 8.9-6.9 12.8-10.9 5.1-5.2 8.4-12 10.8-19 3.1-9.3 4.7-19.6 1.4-28.8-5.7-16-18.7-15.9-32.5-14.4-15 1.8-29.4-4.6-40.1-14.8z"/>
			<path class="svg-custom-border-dark" d="m17.8 72.7c3.9-3.3 8.1-6.2 12.6-8.8"/>
			<path class="svg-custom-border-dark" d="m18 86.5c4.1-2.9 8.5-5.5 13-7.8"/>
			<path class="svg-custom-border-dark" d="m33.3 93c4.6-2.3 9-5.1 13.1-8.3"/>
			<path class="svg-custom-border-dark" d="m47.6 66.8c3.9-1.8 7.6-4.1 10.9-6.8"/>
			<path class="svg-custom-border-dark" d="m73.7 55.5c3-1.6 5.9-3.2 8.9-4.8"/>
			<path class="svg-custom-border-dark" d="m67.7 69.1c3.4-2.5 7-4.6 10.8-6.4"/>
			<path class="svg-custom-border-dark" d="m64.8 80.5c4.5-2.2 8.9-4.8 13.1-7.7"/>
			<path class="svg-custom-border-dark" d="m71.4 93.6c3.8-1.6 7.4-3.6 10.7-5.9"/>
			<path class="svg-custom-border-dark" d="m70.2 121.5c3.6-2.1 7.2-4.3 10.8-6.4"/>
			<path class="svg-custom-border-dark" d="m54.2 119.2c3.4-2.4 6.7-4.7 10.1-7.1"/>
			<path class="svg-custom-border-dark" d="m36.9 114.9c3.4-2.3 6.8-4.7 10.2-7"/>
			<path class="svg-custom-border-dark" d="m51.1 99.5c2.4-2.7 5.3-5.1 8.4-7"/>
			<path class="svg-custom-border-dark" d="m7.7 121.4c4-2.6 7.9-5.1 11.9-7.7"/>
			<path class="svg-custom-border-dark" d="m17.8 132.7c2.6-1.8 5.2-3.5 7.8-5.3"/>
			<path class="svg-custom-border-dark" d="m21.4 154.1c4.4-3 8.9-6.1 13.3-9.1"/>
			<path class="svg-custom-border-dark" d="m48.8 140.6c2.6-1.9 5.2-3.9 7.8-5.8"/>
			<path class="svg-custom-border-dark" d="m44 158.9c3.1-1.1 6-2.9 8.5-5.1"/>
			<path class="svg-custom-border-dark" d="m67.8 146.5c4.5-2.4 8.8-5.4 12.5-8.9"/>
			<path class="svg-custom-border-dark" d="m73.4 156.1c2.4-1 4.6-2.4 6.6-4.1"/>
			<path class="svg-custom-border-dark" d="m83.3 98.9c2.6-1.8 5.1-3.6 7.7-5.4"/>
		</svg>
	</figure>

	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-7 col-xl-6">
				<div class="h-100 mt-5 position-relative z-index-9">
					<!-- <span class="bg-white py-1 px-3 mb-2 text-danger shadow d-inline-block">Use code <span class="lead border-dotted px-2 user-select-all">XXXX</span> to get XX% off. <span class="blink-animation">X Days left.</span></span> -->
					<span class="font-alt fw-normal display-8 d-none d-sm-block">You deserve better preparation before exam —</span>
					<h1 class="text-primary"><span class="text-dark">Questionee</span> <span class="text-dark-stroke">is here</span> to help</h1>

					<div class="mb-5">
						<div class="d-flex">
						  <h2 class="display-6 fa-fw text-end text-light-stroke">1</h2>
						  <div class="ms-4">
						    <p class="mb-0 mt-1">University</p>
						    <h4 class="mt-0">University</h4>
						  </div>
						</div>
						<div class="d-flex">
						  <h2 class="display-6 fa-fw text-end text-light-stroke">5</h2>
						  <div class="ms-4">
						    <p class="mb-0 mt-1">Faculty</p>
						    <h4 class="mt-0">Faculty</h4>
						  </div>
						</div>
						<div class="d-flex">
						  <h2 class="display-6 fa-fw text-end text-light-stroke position-relative">24</h2>
						  <div class="ms-4">
						    <p class="mb-0 mt-1">Department</p>
						    <h4 class="mt-0">Department</h4>
						  </div>
						</div>
						<div class="d-flex">
						  <h2 class="display-6 fa-fw text-end text-light-stroke">110</h2>
						  <div class="ms-4">
						    <p class="mb-0 mt-1">Question</p>
						    <h4 class="mt-0">Question</h4>
						  </div>
						</div>

					</div>

				</div>
			</div>
			<div class="position-absolute start-0 top-0 mt-sm-6 mt-lg-9 mt-xxl-n7 me-n9 me-sm-n5 d-none d-md-block text-end">
				<img src="{% static 'bank/images/hero-image.png' %}" alt="Hero Banner">
			</div>
		</div>


	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center mb-5">
				<h2>Popular Courses</h2>
				<p>Find the course you want to practice, Solve previous year question and take the best preparation before exam</p>
			</div>
		</div>

		<div class="row justify-content-center">
			{% for course in courses %}
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-30">
				<a class="p-4 bg-white shadow-hover line-draw-animation w-100 h-100 text-dark d-inline-block text-primary-hover" href="{% url 'detail' course.pk %}">
					<div class="line-draw-inner"><i class="d-block w-100 text-center display-9 opacity-3 mb-3 far fa-plus-square fa-fw me-2">{{ course.course_code }}</i>{{ course.course_name }}</div>
				</a>
			</div>
			{% endfor %}
		</div> <!-- Row End -->
		<div class="row justify-content-center">
			<div class="col text-center">
				<a class="btn btn-primary text-center" href="{% url 'all-courses' %}">See More</a>
			</div>
		</div>
	</div>
</section>
</main>

<footer class="bg-dark py-5 py-md-7 pt-5 pt-md-8 pattern-overlay-6 footer-sticky">
	<div class="container">
		<div class="row text-center mb-5">
			<div class="col-md-6 col-lg-3">
				<i class="fas fa-drafting-compass display-7 mb-3 text-primary"></i>
				<h6 class="text-white">Huge collection</h6>
			</div>
			<div class="col-md-6 col-lg-3">
				<i class="fas fa-cogs display-7 mb-3 text-primary"></i>
				<h6 class="text-white">Reliable and Regular Updates</h6>
			</div>
			<div class="col-md-6 col-lg-3">
				<i class="fas fa-bolt display-7 mb-3 text-primary"></i>
				<h6 class="text-white">Easy Hassle-Free</h6>
			</div>
			<div class="col-md-6 col-lg-3">
				<i class="far fa-life-ring display-7 mb-3 text-primary"></i>
				<h6 class="text-white">24/7 Customer Support</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center mt-0">
				<h2 class="text-white-stroke">Get your Best Exam Preparation - It's easier than you might think.</h2>
				<p>You deserve better preparation before exam</p>
				{% if not user.is_authenticated %}
				<a class="btn btn-primary" href="{% url 'register' %}">sign up Now!</a>
				{% else %}
				<a class="btn btn-primary" href="{% url 'my-courses' %}">My Courses</a>
				{% endif %}
			</div>
		</div>
	</div>
</footer>

{% endblock content %}
