{% extends "bank/base.html" %}
{% load static %}
{% block content %}
<main>
<section class="bg-light py-5 py-md-7 pt-5 pt-md-8 pattern-overlay-6">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center mb-5">
				<h2>{{ course.course_code }}/{{ SubCatagory.name }}</h2>
				<p>{{ course.course_name }}</p>
			</div>
		</div>
		{% if questions %}
		<div class="row text-center mb-5">
			{% for question in questions %}
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-30">
				<div class="card " style="width: 9rem;">
					<a class="shadow-hover line-draw-animation text-dark text-primary-hover" href="{{ question.file.url }}">
                  <img src="{% static 'bank/images/pdf.png' %}" class="card-img-top" alt="pdf attachment">
                  <div class="card-body">
                    <p class="card-text">{{question.file}}</p>
                  </div>
						</a>
                </div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<p class="text-center text-primary">No Question Found</p>
		{% endif %}
	</div>
</section>
</main>
{% endblock content %}